#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: #E3E8FF;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.app{
    background-color:#E3E8FF;
}